body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 50px;
    color: grey;
    font-weight: 900;
}

h2 {
    font-size: 40px;
    color: grey;
}

.color {
    color: orange;
}

.flexible-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 50px;
}

.content-item {
    width: 40%;
}

.content-item p {
    color: gray
}

.image-item img {
    width: 100%;

}


.button-btn {
    background-image: linear-gradient(45deg, orange, red);
    color: white;
    padding: 18px 45px;
    border-radius: 50px;
    border: none;
    font-weight: 700;


}

.about-section {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.recipie-section h2 {
    text-align: center;
}

.recipie-section p {
    text-align: center;
    margin: 10px 40px;
    padding: 10px 300px;

}

.card-recipe {
    display: flex;
    justify-content: center;
    width: 100%;


}

.card-img img {
    width: 100%;
    height: 300px;
    border-radius: 40px;

}

.first-cad-recipe {

    background-color: white;
    padding: 27px 25px 35px 25px;
    width: 40%;
    border-radius: 50px;
    margin: 50px 8px 80px 70px;
    box-shadow: 10px 10px 40px grey;
}

.second-cad-recipe {
    width: 40%;
    background-color: white;
    padding: 27px 25px 35px 25px;
    border-radius: 50px;
    margin: 50px 70px 80px 8px;
    box-shadow: 10px 10px 40px grey;

}

.card-content h3 {
    text-align: left;
    color: black;
    font-weight: 900;
}

.card-content p {
    text-align: left;
    color: black;
    margin: 0;
    padding: 0;

}

.social-like {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 10px 10px 50px rgba(80, 27, 27, 0.212);
    border-radius: 20px;
    margin: 30px 80px;
    text-align: center;

    padding: 20px;
}

.social-content h1 {
    font-size: 35px;
    color: black;
    font-weight: 900;


}

.social-content p {
    font-size: 16px;




}