body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 50px;
    color: grey;
    font-weight: 900;
}

h2 {
    font-size: 40px;
    color: grey;
}

.color {
    color: orange;
}

.flexible-section {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 50px;
}

.content-item {
    width: 40%;
}

.content-item p {
    color: gray
}

.image-item img {
    width: 100%;

}


.button-btn {
    background-image: linear-gradient(45deg, orange, red);
    color: white;
    padding: 18px 45px;
    border-radius: 50px;
    border: none;
    font-weight: 700;


}

.about-section {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}